{% extends "base.html" %}

{% block header %}
<title>5 Steps to Superior Social Customer Service | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="whitepapers-landing-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>5 Steps to Superior Social Customer Service</h1>
		</container>
	</header>

	<div class="container whitepaper-container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-6">
				
				<h3>About Whitepaper</h3>
				<p>
					The future of social customer service is now and companies need to be prepared for the change. Social customers have specific expectations that social CS agents need to understand. Customers want quick responses, but they also want personalized service.  
				</p>

				<h3>What You Will Learn</h3>
				<ul class="styled">
					<li>Personalize social interactions</li>
					<li>Train agents in "social speak"</li>
					<li>Create online transparency that fosters loyalty</li>
					<li>Respond to more customers in less time</li>
					<li>Utilize technology to increase engagement</li>
				</ul>

			</div><!--columns-->
		</div><!--row-->
	</div><!--container-->

	{% endblock %}