{% extends "base.html" %}

{% block header %}
<title>5 Tips on How to Get Better at Social and Mobile Customer Service | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="whitepapers-landing-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>5 tips on how to get better at social and mobile customer service</h1>
		</container>
	</header>

	<div class="container whitepaper-container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-6">
				
				<h3>About Whitepaper</h3>
				<p>
					Serving customers is the same across various channels - but how are the channels different? Try handling an inbound phone call in 144 characters in less than five minutes. Sounds tricky, right? Well, with a social media tool developed for call centers and some easy-to-understand tips, it will be easy. 
				</p>

				<h3>What You Will Learn</h3>
				<ul>
					<li>
						Handling public complaints on social media
					</li>
					<li>
						The optimal speed for responding
					</li>
					<li>
						How to handle non-direct comments
					</li>
				</ul>
				
			</div><!--columns-->
		</div><!--row-->
	</div><!--container-->

	{% endblock %}