{% extends "base.html" %}

{% block header %}
<title>7 Steps to Kickstart a Social Customer Service Strategy | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="whitepapers-landing-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>7 steps to kickstart a social customer service strategy</h1>
		</container>
	</header>

	<div class="container whitepaper-container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-6">
				
				<h3>About Whitepaper</h3>
				<p>
					Your company created a Facebook page and Twitter handle. You might even post some updates about your company, advertisements and notices. But are you engaging with your customers? </p>

					<h3>What You Will Learn</h3>
					<ul>
						<li>Tips for who to include to make a powerful cross functional team</li>
						<li>How to empower your agents</li>
						<li>Best practices for scaling your staff</li>
					</ul>
				</div><!--columns-->
			</div><!--row-->
		</div><!--container-->

		{% endblock %}