{% extends "base.html" %}

{% block header %}
<title>5 steps to superior social customer service | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="whitepapers-landing-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>Social Media for Call Centers: How It’ll Hurt Your Company To Be The Last One On Board</h1>
		</container>
	</header>

	<div class="container whitepaper-container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-6">
				
				<h3>About whitepaper</h3>
				<p>
					You. Love. Social. Media. And that is what landed you a great gig in the marketing department. But now you want a promotion -- and the way to get there is to take on additional responsibilities. Find out how you can show your boss the money by tackling customer service over social media. Your customers are elated someone is listening to them. You get promoted. Double win.
				</p>
				<h3>What you will learn</h3>
				<ul>
					<li>How great customer experiences grow brand loyalty</li>
					<li>The benefit of solicitting -- and listening for product feedbak over social media</li>
					<li>Understand what kind of recommendations are important for your customers</li>
				</ul>

			</div><!--columns-->
		</div><!--row-->
	</div><!--container-->

	{% endblock %}