{% extends "base.html" %}

{% block header %}
<title>5 steps to superior social customer service | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="whitepapers-landing-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>The Achilles Heel: Why Social Marketing Fails at Customer Service</h1>
		</container>
	</header>

	<div class="container whitepaper-container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-6">
				
				<h3>About whitepaper</h3>
				<p>Think your marketing department should respond to customers on social media? After all, they’re already on social media, so why not answer a few questions while they’re at it, right? </p>
				<p>You wouldn’t have marketing answer phones in a call center, so why would they manage customer inquiries on social media?</p>
				<p>They shouldn’t. </p>

				<h3>What you will learn</h3>
				<ul>
					<li>
						Define clear departmental roles so marketing and customer service don’t collide on social media
					</li>
					<li>
						Maximize your social customer service so that CS enhances your marketing efforts while remaining separate
					</li>
					<li>
						Increase customer loyalty and satisfaction by having a dedicated team respond to social customers, answer their questions, solve their problems and engage in conversations
					</li>
				</ul>
			</div><!--columns-->
		</div><!--row-->
	</div><!--container-->

	{% endblock %}