{% extends "base.html" %}

{% block header %}
<title>Social Media Shopping Showdown: Online Retailers Compared | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="whitepapers-landing-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>Social media shopping showdown: Online retailers compared</h1>
		</container>
	</header>

	<div class="container whitepaper-container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-6">
				
				<p>
					The retail world has been turned on its head in the past decade. Consumers, trained by companies like Zappos, Sephora and Amazon, expect free returns, samples and two-day delivery. Now, customers are looking to engage with retail brands over social media – just like they would have engaged with employees in brick and mortar stores.  
				</p>

				<h3>What You Will Learn</h3>
				<ul>
					<li>
						Checklist for quality social media engagement
					</li>
					<li>
						Guidelines for great content
					</li>
					<li>
						How to turn social media employees into sales converters 
					</li>
				</ul>
				
			</div><!--columns-->
		</div><!--row-->
	</div><!--container-->

	{% endblock %}