{% extends "base.html" %}

{% block header %}
<title>Worlds Collide: The Catastrophic Collision Between Marketing and Customer Service | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="whitepapers-landing-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>Worlds Collide: The Catastrophic Collision Between Marketing and Customer Service</h1>
		</container>
	</header>

	<div class="container whitepaper-container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-6">
				
				<h3>About Whitepaper</h3>
				<p>
					Are your marketing department and customer service department battling over control of your social media?  Are customers getting overlooked, lost or buried in the confusion?</p>

					<p>A collision between marketing and customer service could be costing your company valuable time and resources. Social marketing platforms aren’t designed for customer service and neither are marketers.  </p>

					<p>To maximize your CS team’s efforts, you need a dedicated Social CS platform that will allow agents to address customer issues in real time and provide every customer with highly personalized support. </p>


					<h3>What You Will Learn</h3>
					<ul class="styled">
						<li>Understand your social customers: what frustrates them and what motivates them to buy</li>
						<li>Define departmental roles to avoid a collision between marketing and customer service</li>
						<li>Create an effective social customer service strategy to ensure every customer receives personalized attention in real-time</li>
						<li>Increase your profits by decreasing response times</li>
					</ul>

				</div><!--columns-->
			</div><!--row-->
		</div><!--container-->

		{% endblock %}