{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Solutions</title>
{% endblock %}

{% block body %}
<body class="solutions">
{% endblock %}

{% block content %}
<header class="product">
	<div class="container">
		<h1>Powering amazing customer experiences</h1>
		<div class="col-md-10 col-md-offset-1">
			<p>
				for brands in travel, telecommunications, retail, financial services and more…
			</p>
		</div><!--col-->
	</div><!--container-->
</header>

<div class="container tour">
	<div class="row">
		<div class="col-md-6">
			<h2>Taking customer engagement to the next level</h2>
			<p>This is where we are going with this bla bla bla.</p>

			<blockquote>
				“Sparkcentral reduced our average response time from 2.5hrs to 13mins within the first hour after switching from our previous solution.” 
			</blockquote>
			<cite>T-Mobile, Sr. Customer Support Manager</cite>
		</div><!--col-->

		<div class="col-md-6 img">
			<img src="../static/img/channel-graphic.svg"/>
		</div>
	</div><!--row-->


	<div class="row">

		<div class="col-md-6 img">
			<img src="../static/img/unified-graphic.svg"/>
		</div>

		<div class="col-md-6">
			<h2>Real-time Customer Segmentation</h2>
			<p>An interactive dashboard that aggregates and consolidates data from any channel into an integrated view for proactive and personal engagement.</p>


			<blockquote>
				“Whether they contact us on mobile, social or any other device, we want them to experience the same great customer service they would receive if they walked into one of our stores. Sparkcentral makes this possible.” 

			</blockquote>
			<cite>Anonymous retailer</cite>
		</div>
	</div><!--row-->


	<div class="row">
		<div class="col-md-6">
			<h2>Precog- Proactive Customer Engagement</h2>
			<p>This is where we are going with this bla bla bla.</p>

			<blockquote>
				“With Sparkcentral we can show our customers how much we value them by anticipating their needs, solving their problems and giving them a highly-personalized customer experience.” 
			</blockquote>
			<cite>Anonymous Financial Institution
			</cite>
		</div><!--col-->

		<div class="col-md-6 img">
			<img src="../static/img/channel-graphic.svg"/>
		</div>
	</div><!--row-->






	<div class="row">

		<div class="col-md-6 img">
			<img src="../static/img/unified-graphic.svg"/>
		</div>

		<div class="col-md-6">
			<h2>Canvas - Sparkcentral API</h2>
			<p>An interactive dashboard that aggregates and consolidates data from any channel into an integrated view for proactive and personal engagement.</p>


			<blockquote>
				“Through Sparkcentral Canvas, we are able to engage multiple, globally distributed systems to deliver more personal and smarter customer engagement. With the advent of the new software updates to the platform, especially the open APIs, we envision being able to far more easily and cleanly integrate any software we use to support our customers.” 			<cite>Anonymous Airlines</cite>

			</blockquote>
		</div>
	</div><!--row-->

</div><!--container-->
<section class="demo">	
	<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
	<a href="#" class="btn btn-lg btn-default">Try free demo</a>
</section>

{% endblock %}