{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Why Us</title>
{% endblock %}

{% block body %}
<body class="clients-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>Brussels Airlines</h1>
		</container>
	</header>


	<div class="container">
		<div class="row case-study">
			<div class="col-sm-12 col-md-8 col-md-offset-2">				
			<p>
      It's 2014, and NEWSFLASH: customers are demanding service at practically the speed of light. Whether it's waiting for a barista 
      to craft a coffee, or tweeting a question about weather delays, customers expect "freaky fast" service. 
      If you're like most people, you're rarely in the mood to call customer service while at the airport. With Sparkcentral, the 
      Brussels Airlines social team embraces and even pioneers the current speedy demands of customers by quickly responding to 
      their busy travelers.
    </p>

    <p>
      Kim Daenen is Brussels Airlines Social Media Manager. "Most of our customers are on the go so they are using a mobile device 
      when they reach out," says Kim. "Our goals are to help our passengers quickly and efficiently, and to manage the company’s 
      reputation. We are responding much faster now because we have a better overview of all incoming questions."
      Have you ever ordered lunch at the counter, and then been told that you’re only allowed to order at the drive-thru window? 
      We hope not, because that would be ridiculous. The same goes for customer service. The days of companies setting expectations 
      and calling the shots are gone. The customer tells you when, where, and how they need to talk to you - and you need to be 
      there and ready to help. 
    </p>
			</div><!--columns-->
		</div><!--row-->




	</div><!--container-->



	<section class="container-fluid demo">
		<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
		<a href="#" class="btn btn-lg btn-default">Try free demo</a>
	</section><!--container-->

	{% endblock %}