{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Why Us</title>
{% endblock %}

{% block body %}
<body class="clients-page">
	{% endblock %}


	{% block content %}
	<header class="product">
		<h1>header about clients</h1>
	</header>

	<div class="container">
		<div class="row client">
			<div class="col-md-4">
				<a href="/buffer"><h2>Buffer</h2>
					<img class="case-study-image" src="../static/img/joel.jpg" alt="Joel Gascoigne">
				</a>
				<p>
					Joel Gascoigne first launched Buffer in the U.K., but has since expanded 
					exponentially helping people schedule great content for sharing on social media.
				</p>
				<a href="buffer.html">View Case Study<b>!</b></a>
			</div><!--col-->

			<div class="col-md-4">
				<a href="//fast.wistia.net/embed/iframe/49f1tcfqz4?popover=true" class="wistia-popover[height=433,playerColor=7b796a,width=720]">
					<h2>UberMedia</h2>
					<img class="case-study-image" src="../static/img/uber-thumb.jpg" alt="UberMedia">
				</a>
				<p>
					Founded in 2010, UberMedia is the leading independent developer of dynamic 
					advertising solutions and feature-rich mobile applications. 
				</p>
				<a href="//fast.wistia.net/embed/iframe/49f1tcfqz4?popover=true" class="wistia-popover[height=433,playerColor=7b796a,width=720]">
					View Case Study<b>!</b></a>     
				<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
			</div><!--col-->


			<div class="col-md-4">
				<a href="/mailbox"><h2>Mailbox</h2>
					<img class="case-study-image" src="../static/img/mailbox.jpg" alt="Mailbox">
				</a>
				<p>
					Take a look at how Heath and Liz at Mailbox use Sparkcentral for social media 
					customer service to manage inbound messages and support their users who read and 
					archive millions of emails per day.
				</p>
				<a href="mailbox">View Case Study<b>!</b></a>
			</div><!--col-->
		</div><!--row-->



		<div class="row client client-wide">
			<div class="col-md-6">
				<div class="row">
					<a href="http://fast.wistia.net/embed/iframe/hvf9m6n027?popover=true" class="wistia-popover[height=405,playerColor=4690dc,width=720]">
						<h2>Delta</h2>
					</a>
					<p>
						Delta airlines has adapted to customer's needs by growing out their service to include 
						over 300 destinations in over 65 countries. They've also been listening and serving their 
						customers over social media with Sparkcentral.
					</p>

					<a href="http://fast.wistia.net/embed/iframe/hvf9m6n027?popover=true" class="wistia-popover[height=405,playerColor=4690dc,width=720]">
						Watch Case Study<b>!</b>
					</a>
					<script charset="ISO-8859-1" src="http://fast.wistia.com/assets/external/popover-v1.js"></script>
				</div><!--row-->
			</div><!--col-->

			<div class="col-md-6">
				<div class="row">
					<img src="../static/img/delta-small.jpg" alt="Delta">
				</div>
			</div>
		</div><!--row-->



		<div class="row client">
			<div class="col-md-4">
				<a href="media-temple"><h2>Media Temple</h2>
					<img class="case-study-image" src="../static/img/media-temple-thumb.jpg" alt="Media Temple">
				</a>
				<p>
					Since Media Temple began in 1998, they have been on a mission to help web developers, designers, digital entrepreneurs, and innovators bring their ideas to life online.
				</p>
				<a href="media-temple">View Case Study<b>!</b></a>
			</div><!--col-->


			<div class="col-md-4">
				<a href="mobile-vikings/"><h2>Mobile Vikings</h2>
					<img class="case-study-image" src="../static/img/hans-thumb.jpg" alt="Mobile Vikings">
				</a>
				<p>
					Co-founded in 2008 by Frank Bekkers, Mobile Vikings is a mobile virtual network (an MVNO) 
					– which purchases bulk access to network services at wholesale rates, passing 
					along savings to its users (Vikings!) – based in Belgium.
				</p>
				<a href="mobile-vikings/">View Case Study<b>!</b></a>
			</div><!--col-->


			<div class="col-md-4">											
				<a href="brussels-airline"><h2>Brussels Airlines</h2>
				<img class="case-study-image" src="../static/img/kim-thumb.jpg" alt="Brussels Airlines">
				</a>
				<p>
					Kim Daenen handles the social media for Brussels Airlines, the largest airline in Belgium, operating to over 65 destinations in 20 European countries.
				</p>
				<a href="brussels-airline">View Case Study<b>!</b></a>
			</div><!--col-->
		</div><!--row-->



		<div class="row client client-wide">
			<div class="col-md-6">		
				<div class="row">								
					<a href="/lyft"><h2>Lyft</h2>
					</a>
					<p>
						Zach Cole and Emily Castor head up social customer service at Lyft, the ride-sharing app 
						that's sweeping the nation. (And streets!) Lyft's dedication to making every pink mustache 
						smile has landed them in 18 cities across the nation.
					</p>
					<a href="lyft">View Case Study<b>!</b></a>
				</div><!--row-->
			</div><!--col-->
			<div class="col-md-6">
				<div class="row">
					<img src="../static/img/lyft-thumb.jpg" alt="Lyft">
				</div><!--row-->
			</div><!--col-->
		</div><!--row-->



		<div class="row client-list">
			<div class="col-md-4">
				<img src="../static/img/clients/delta.svg" />
				<p>
					“Customer experience doesn’t begin and end with a flight. It’s an ongoing conversation between friends.”
				</p>
			</div><!--col-->

			<div class="col-md-4">
				<img src="../static/img/clients/lululemon.svg" />
				<p>
					“Our customers live life to the fullest. With Sparkcentral, we’re able to give our customers an experience every time they connect with us.”
				</p>
			</div><!--col-->

			<div class="col-md-4">
				<img src="../static/img/clients/brussels-airport.svg" />
				<p>
					“Distance may divide us, but communication channels connect us. With Sparkcentral, we are there at every stage of the journey with our customers.” 
				</p>
			</div><!--col-->
		</div><!--row-->




		<div class="row client-list">
			<div class="col-md-4">
				<img src="../static/img/clients/jetblue.svg" />
				<p>
					“We love it when our customers contact us and we can have personalized conversations with them.”
				</p>
			</div><!--col-->

			<div class="col-md-4">
				<img src="../static/img/clients/lyft.svg" />
				<p>
					“Sparkcentral’s service-first approach means we can deliver a seamless experience for our customers anytime and anywhere, so they never feel far from the Lyft community.”
				</p>
			</div><!--col-->

			<div class="col-md-4">
				<img src="../static/img/clients/publix.svg" />
				<p>
					“Whether customers contact us on mobile, social or any other device, we want them to experience the same great customer service they would receive if they walked into one of our stores.”			</p>
				</div><!--col-->
			</div><!--row-->



			<div class="row client-list">
				<div class="col-md-4">
					<img src="../static/img/clients/nordstrom.svg" />
					<p>
						“At Nordstrom, our customer service standards are exceptionally high. Thanks to Sparkcentral, we’re able to deliver the kind of highly-personalized customer service that our customers expect and deserve.” 
					</p>
				</div><!--col-->

				<div class="col-md-4">
					<img src="../static/img/clients/gogo.svg" />
					<p>
						“In this hyper-connected, fast-paced world, our customers want to know we are there for them. Sparkcentral enables us to interact real-time.”
					</p>
				</div><!--col-->

				<div class="col-md-4">
					<img src="../static/img/clients/nyu.svg" />
					<p>
						"Rapid response, shorter handle times and happy agents and customers are a result of a platform focused on customer service."</p>
					</div><!--col-->
				</div><!--row-->



				<div class="row client-list">
					<div class="col-md-4">
						<img src="../static/img/clients/emirates.svg" />
						<p>
							“At Emirates, we promise to give our customers a great travel experience, and Sparkcentral has helped us deliver on that promise.” 			</p>
						</div><!--col-->

						<div class="col-md-4">
							<img src="../static/img/clients/uber.svg" />
							<p>
								“Uber’s success has come from the way we deliver the customer experience.”
							</p>
						</div><!--col-->

						<div class="col-md-4">
							<img src="../static/img/clients/buffer.svg" />
							<p>
								“With a 24/7 business like Buffer, our customers need to know they can count on us day and night. As our customers’ needs change, it’s nice to know that Sparkcentral is right there along side us.”</p>
							</div><!--col-->
						</div><!--row-->




						<div class="row client-list">
							<div class="col-md-4">
								<img src="../static/img/clients/mens-wearhouse.svg" />
								<p>
									“At Men’s Wearhouse, we have a long tradition of providing great value and service for our customers. Sparkcentral enables us to keep that tradition.” 			</p>
								</div><!--col-->

								<div class="col-md-4">
									<img src="../static/img/clients/dropbox.svg" />
									<p>
										“At Dropbox, we value people. Whether it’s the team in our office or the customers we communicate with every day, we realize that happy employees and happy customers are the key to our success.”
									</p>
								</div><!--col-->

								<div class="col-md-4">
									<img src="../static/img/clients/mobile-vikings.svg" />
									<p>
										“The fact that we don’t have a brick and mortar shop means we have to work extra hard to create a great customer experience. Thanks to Sparkcentral and our team of dedicated “Vikings”, our customers love us.”</p>
									</div><!--col-->
								</div><!--row-->


									</div><!--container-->




									<section class="demo">	
										<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
										<a href="#" class="btn btn-lg btn-default">Try free demo</a>
									</section>

									{% endblock %}