{% extends "base.html" %}

	{% block header %}
	<title>Sparkcentral | Company</title>
	{% endblock %}


{% block body %}
<body class="company">
{% endblock %}


{% block content %}


<header>
	<h1>Put Customers Front and Center, <span> Right Where They Belong.<span></h1>	
</header>

<div class="container">

	<div class="row vision">
		<div class="col-md-10 col-md-offset-1">
			<h2 class="text-center">Our Vision</h2>
			<p>
				Organizations around the world are experiencing a revolution in customer behavior and expectations, driven by the convergence of social, mobile, cloud, and big-data technologies.

				Sparkcentral aims to forge the future of customer experience (in this new era).

				We are doing this by building innovative software applications that make companies incredibly efficient in engaging with individuals, maintaining one-on-one relationships and building mutual trust.

				We want to be the invisible fabric that enables enterprises to listen to and leverage the voice of their consumer, inspiring a customer-centric culture.

				Let’s reimagine, the future of customer experience. Together.
			</p>

		</div><!--columns-->
	</div>


	<section class="leadership border">
		<div class="row ">
			<h2 class="text-center">Leadership</h2>

			<div class="col-md-4">
				<img src="../static/img/davy.jpg" alt="Davy">
				<span class="left">
					<h3>Davy Kestens</h3>
					<h5>CEO, Co-Founder</h5>
				</span>
			</div>

			<div class="col-md-4">
				<img src="../static/img/finn.jpg" alt="Davy">
				<span class="left">
					<h3>Matt Finneran</h3>
					<h5>Head of Business Dev, Co-Founder</h5>
				</span>
			</div>


			<div class="col-md-4">
				<img src="../static/img/sophie.jpg" alt="sophie">
				<span class="left">
					<h3>Sophie Vu</h3>
					<h5>VP of Marketing</h5>
				</span>
			</div>

		</div><!--row-->
	</section>



	<div class="row investors">
		<h2 class="text-center">Investors</h2>


		<div class="col-md-6">
			<img src="../static/img/splitrock.jpg" alt="splitrock">
		</div>

		<div class="col-md-6">
			<img src="../static/img/sigmawest.jpg" alt="sigma west">
		</div>

		<div class="col-md-6">
			<img src="../static/img/social-partnership.jpg" alt="social capital partnership">
		</div>

		<div class="col-md-6">
			<img src="../static/img/founders-fund.jpg" alt="foundersfund">
		</div>
	</div><!--row-->

</div><!--container-->


{% endblock %}