{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Company</title>
{% endblock %}


{% block body %}
<body class="company">
	{% endblock %}


	{% block content %}


	<header>
		<h1>Put Customers Front and Center, <span> Right Where They Belong<span></h1>	
	</header>

	<div class="container">

		<div class="row vision">
			<div class="col-sm-10 col-sm-offset-1">
				<h2 class="text-center">Our Vision</h2>
				<p>
					Organizations around the world are experiencing a revolution in customer behavior and expectations, driven by the convergence of social, mobile, cloud and big-data technologies.

					Sparkcentral aims to forge the future of customer experience.

					We are doing this by building innovative software applications that make companies incredibly efficient in engaging with individuals, maintaining one-on-one relationships and building mutual trust.

					We want to be the invisible fabric that enables enterprises to listen to and leverage the voice of their consumer, inspiring a customer-centric culture.

					Let’s reimagine the future of customer experience. Together.
				</p>

			</div><!--columns-->
		</div>


		<section class="leadership border">
			<div class="row ">
				<h2 class="text-center">Leadership</h2>

				<div class="col-sm-4">
					<img src="{% static 'static/img/davy.jpg' %}" alt="Davy Kestens">
					<span class="left">
						<h3>Davy Kestens</h3>
						<h4>CEO, Co-Founder</h4>
					</span>
				</div>

				<div class="col-sm-4">
					<img src="{% static 'static/img/finn.jpg' %}" alt="Matt Finneran">
					<span class="left">
						<h3>Matt Finneran</h3>
						<h4>Head of Business Dev, Co-Founder</h4>
					</span>
				</div>


				<div class="col-sm-4">
					<img src="{% static 'static/img/sophie.jpg' %}" alt="Sophie Vu">
					<span class="left">
						<h3>Sophie Vu</h3>
						<h4>VP of Marketing</h4>
					</span>
				</div>

			</div><!--row-->
		</section>



		<section class="boardmembers border">
			<div class="row ">
				<h2 class="text-center">Board Members</h2>

				<div class="col-sm-4">
					<img src="{% static 'static/img/bob.jpg' %}" alt="Bob Spinner">
					<span class="left">
						<h3>Bob Spinner</h3> 
						<a class="social" href="http://www.linkedin.com/pub/bob-spinner/0/38/296/en">I</a>
					</span>
				</div>

				<div class="col-sm-4">
					<img src="{% static 'static/img/jim.jpg' %}" alt="Jim Somers">
					<span class="left">
						<h3>Jim Somers</h3>
						<a class="social" href="http://www.linkedin.com/pub/bob-spinner/0/38/296/en">I</a>
					</span>
				</div>


				<div class="col-sm-4">
					<img src="{% static 'static/img/barmak.jpg' %}" alt="Barmak Meftah">
					<span class="left">
						<h3>Barmak Meftah</h3>
						<a class="social" href="http://www.linkedin.com/pub/barmak-meftah/2/a07/764/en">I</a>
					</span>
				</div>

			</div><!--row-->
		</section>


		<div class="row investors text-center">
			<h2 class="text-center">Investors</h2>


			<div class="col-sm-3">
				<img class="logo-splitrock" src="{% static 'static/img/splitrock.jpg' %}" alt="Splitrock">
			</div>

			<div class="col-sm-3">
				<img class="logo-sigma" src="{% static 'static/img/sigmawest.jpg' %}" alt="Sigma West">
			</div>

			<div class="col-sm-3">
				<img class="logo-foundersfund" src="{% static 'static/img/founders-fund.svg' %}" alt="Founders Fund">
			</div>

			<div class="col-sm-3">
				<img class="logo-socialcapital" src="{% static 'static/img/social-partnership.jpg' %}" alt="Social Capital Partnership">
			</div>
		</div><!--row-->

	</div><!--container-->


	{% endblock %}