{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Demo</title>
{% endblock %}

{% block body %}
<body class="demo-page">
	{% endblock %}


	{% block content %}

<header>
	     <a class="logo" href="/index.html"><h1>Sparkcentral</h1></a>
</header>


		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 demo-form">
					<h1>Try a free demo</h1>
					<p>Sign up for a free demo below or call us at 1 (866) 559 6229 to talk to sales today.</p>

				<iframe src="http://go.pardot.com/l/65862/2014-12-16/t" width="100%" height="500px" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
				</div>

			</div>
		</div>

	{% endblock %}