{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Demo</title>
{% endblock %}

{% block body %}
<body class="demo-page">
	{% endblock %}


	{% block content %}

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a class="left logo" href="/index.html"><h1>Sparkcentral</h1></a>
					<p class="right">contact sales 1(866)-559-6229</p>
				</div>
			</div>
		</div>
	</header>


	<div class="container">
		<div class="row">
			<h2>Try a free demo</h2>

			<div class="col-md-6 demo-form">
				<p class="lead">Sign up for a free demo below or call us at 1(866)-559-6229 to talk to sales today.</p>

				<iframe src="http://go.pardot.com/l/65862/2014-12-16/t" width="100%" height="500px" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
			</div><!--col-->



			<div class="col-md-6 demo-form">


				<img src="../static/img/clients/delta.svg" />
				<p>
					“Customer experience doesn’t begin and end with a flight. It’s an ongoing conversation between friends.”
				</p>
			</div>
		</div><!--row-->
	</div><!--container-->




	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="../static/img/clients/dropbox.svg" />
				<p>
					“At Dropbox, we value people. Whether it’s the team in our office or the customers we communicate with every day, we realize that happy employees and happy customers are the key to our success.”
				</p>
			</div><!--col-->

			<div class="col-sm-4">
				<img src="../static/img/clients/emirates.svg" />
				<p>
					“At Emirates, we promise to give our customers a great travel experience, and Sparkcentral has helped us deliver on that&nbsp;promise.” 			</p>
				</div><!--col-->

				<div class="col-sm-4">
					<img src="../static/img/clients/delta.svg" />
					<p>
						“Customer experience doesn’t begin and end with a flight. It’s an ongoing conversation between friends.”
					</p>
				</div><!--col-->
			</div>
		</div><!--conatiner-->

		{% endblock %}