{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Demo</title>
{% endblock %}

{% block body %}
<body class="demo-page">
	{% endblock %}


	{% block content %}

	

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>Try a free demo</h1>
					<p>Introducing the Sparkcentral Customer Engagement Platform. Deliver amazing customer experiences at scale across any messaging channel.</p>

				<iframe src="http://go.pardot.com/l/65862/2014-12-16/t" width="100%" height="500px" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
				</div>

			</div>
		</div>



	{% endblock %}