	{% extends "base.html" %}

	{% block header %}
	<title>Sparkcentral</title>
	{% endblock %}

	{% block content %}

	<div class="jumbotron home">
		<h1>Exceed customer service expectations</h1>
		<p>Introducing the Sparkcentral Customer Engagement Platform. Deliver amazing customer experiences at scale across any messaging channel.</p>

		<a href="{% static 'demo.html' %}" class="btn btn-lg btn-primary">Try Free Demo</a>
		<a href="{% static 'product.html' %}" class="btn btn-lg btn-default">Learn More</a>
	</div><!--jumbotron-->


	<section class="clients">
		<div class="container">
			<div class="row">
				<ul>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Delta.svg' %}" alt="Delta"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Uber.svg' %}" alt="Uber"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Dropbox.svg' %}" alt="Dropbox"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Netflix.svg' %}" alt="Netflix"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Sears.svg' %}" alt="Sears"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/tmobile.svg' %}" alt="T-Mobile"/></li>
				</ul>
			</div><!--row-->
		</div>
	</section>

	<section class="news-notification">

		<!-- 	<p>Learn how to promote customer engagement and get it right.&nbsp;<a href="http://www.destinationcrm.com/webevents/roundtable/25feb2015/sc4/" target="_blank">Register for our webinar now!</a></p> -->
		<p>We just raised a series B! <a href="#news-section">Learn More.</a></p>

	</section>

	<section class="value-props">
		<div class="container">
			<div class="row">
				<h2 class="text-center">Let’s reimagine the customer experience</h2>
			</div>

			<div class="row">
				<div class="col-sm-4 value-prop">

					<img src="{% static 'static/img/engage-icon.svg' %}" alt="engage"/>
					<h3>Engage at every customer touchpoint</h3>
					<p>It shouldn't be a struggle to engage with your customers. Keep up with trends and engage with your customers on any channel.

					</p>
				</div>

				<div class="col-sm-4 value-prop">
					<img src="{% static 'static/img/fastest-icon.svg' %}" alt="fastest"/>
					<h3>Respond and resolve issues faster</h3>
					<p>Our engagement dashboard enables agents to collaborate and resolve issues quickly. Advanced automation technology routes conversations to the right agents.</p>
				</div>

				<div class="col-sm-4 value-prop">
					<img src="{% static 'static/img/delight-icon.svg' %}" alt="delight"/>
					<h3>Delight and increase lifetime value</h3>
					<p>By capturing the full customer relationship, Sparkcentral enables you to delight your customers by resolving issues before they&nbsp;escalate.

					</p>
				</div><!--col-->
			</div><!--row-->
		</div>
	</section>

	<section class="testimonial">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-5 col-sm-offset-1 col-xs-12 testimonial-info">
					<img class="testimonial-logo delta" src="{% static 'static/img/delta-testimonial.svg' %}" alt="Delta">
					<p class="lead">“Customer experience doesn’t begin and end with a flight. It’s an ongoing relationship built on a lifetime of trust, loyalty and service.”											
					</p>
					<cite>Jerry Fletcher, Social Media Manager</cite>
					<p><a class="btn btn-primary wistia-popover[height=405,playerColor=7b796a,width=720]" href="http://fast.wistia.net/embed/iframe/hvf9m6n027?popover=true" role="button">Watch Case Study</a>
						<script charset="ISO-8859-1" src="http://fast.wistia.com/assets/external/popover-v1.js"></script>
					</p>
				</div><!--col-->

				<div class="col-sm-6 col-xs-12 testimonial-image">
					<a class="wistia-popover[height=405,playerColor=7b796a,width=720]" href="http://fast.wistia.net/embed/iframe/hvf9m6n027?popover=true" role="button"><img class="testimonial-img" src="{% static 'static/img/delta-play.jpg' %}" alt="Jerry Fletcher, Delta Airlines"></a>
				</div><!--col-->

			</div><!--row-->
		</div><!--content-->
	</section>


	<section class="news" id="news-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-12 latest-news">
					<h2>Latest News</h2>
					<h5>1/20/15</h5>
					<h3><a href="{% static 'static/assets/Sparkcentral_Series_B_Funding.pdf' %}" target="parent">Sparkcentral Raises $12M Series B Funding Led by Split Rock Partners</a></h3>
					<p>
						“Our vision is to shape the future of the customer experience, and this funding is a strong vote of confidence by enterprise investors whose values strongly align with our own,”
					</p>

					<cite>Sparkcentral Co-founder and CEO Davy Kestens</cite>
					<a href="{% static 'static/assets/Sparkcentral_Series_B_Funding.pdf' %}" target="parent" class="btn btn-md btn-secondary">Read More</a>			</div><!--col-->

					<div class="col-md-5 col-md-offset-1 past-news">
						<h2>Past News</h2>

						<h5>12/10/14</h5>
						<p>Sparkcentral Opens European Headquarters in Belgium</p>
						<a href="http://www.businesswire.com/news/home/20141210006461/en/Sparkcentral-Opens-European-Headquarters-Belgium#.VJENZnQ7P8l" target="_blank">Read More</a>

						<h5>11/5/14</h5>
						<p>Sparkcentral Announces Autumn ‘14 Edition for Enterprises, Radically Reduces Social Media Response Times</p>
						<a href="http://www.businesswire.com/news/home/20141104005096/en/Sparkcentral-Announces-Autumn-%E2%80%9814-Edition-Enterprises-Radically#.VFvUG4c7P8l" target="_blank">Read More</a>

						<h5>10/21/14</h5>
						<p>Sparkcentral Customer Experience Summit Attracts Top Brands, Prepares Industry Leaders for the Future of Customer Experience</p>
						<a href="http://www.businesswire.com/news/home/20141021005205/en/Sparkcentral-Customer-Experience-Summit-Attracts-Top-Brands#.VEaK_Ic7PgJ" target="_blank">Read More</a>

					</div><!--col-->
				</div><!--row-->
			</div>
		</section>


		<section class="demo">
			<div class="container">
				<h2 class="text-center">See how Sparkcentral can help you impress your customers!</h2>
				<a href="{% static 'demo.html' %}" class="btn btn-lg btn-default">Try Free Demo</a>
			</div>
		</section>

		{% endblock %}
