	{% extends "base.html" %}

	{% block header %}
	<title>Sparkcentral</title>
	{% endblock %}

	{% block content %}

	<div class="jumbotron home">
		<h1>Exceed customer service expectations</h1>
		<p>Introducing the Sparkcentral Customer Engagement Platform. Deliver amazing customer experiences at scale across any messaging channel.</p>

		<a href="{% static 'demo.html' %}" class="btn btn-lg btn-primary">Request Demo</a>
		<a href="{% static 'product.html' %}" class="btn btn-lg btn-default">Learn More</a>
	</div><!--jumbotron-->


	<section class="clients">
		<div class="container">
			<div class="row">
				<ul>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Delta.svg' %}" alt="Delta"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Uber.svg' %}" alt="Uber"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Dropbox.svg' %}" alt="Dropbox"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Netflix.svg' %}" alt="Netflix"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/Sears.svg' %}" alt="Sears"/></li>
					<li class="col-sm-2 col-xs-4"><img src="{% static 'static/img/home-clients/tmobile.svg' %}" alt="T-Mobile"/></li>
				</ul>
			</div><!--row-->
		</div>
	</section>

	<section class="news-notification">

		<p><img src="{% static 'static/img/flower2.svg' %}" class="announcement-icon" />Announcing the Sparkcentral Spring 2015 Release. <a href="#spring-release-section">Learn More.</a></p>

			<!-- <p>Learn how to personalize customer service interactions. <a href="http://www.destinationcrm.com/webevents/roundtable/18mar2015/sc1/" target="_blank">Register for our webinar now!</a></p> -->

	</section>

	<section class="value-props">
		<div class="container">
			<div class="row">
				<h2 class="text-center">Let’s reimagine the customer experience</h2>
			</div>

			<div class="row">
				<div class="col-sm-4 value-prop">

					<img src="{% static 'static/img/engage-icon.svg' %}" alt="engage"/>
					<h3>Engage at every customer touchpoint</h3>
					<p>Get to know your customers across integrated CX touchpoints while creating, delivering and indexing events across the customer lifecycle.</p>
				</div>

				<div class="col-sm-4 value-prop">
					<img src="{% static 'static/img/fastest-icon.svg' %}" alt="fastest"/>
					<h3>Respond and resolve issues faster</h3>
					<p>Advanced automation technology routes conversations to the right agents at the right time, allowing you to focus on what really matters - delighting your customers.</p>
				</div>

				<div class="col-sm-4 value-prop">
					<img src="{% static 'static/img/delight-icon.svg' %}" alt="delight"/>
					<h3>Delight and increase lifetime value</h3>
					<p>Proactively engage your customers by capturing uniquely personal engagements and resolve issues before they escalate.</p>
				</div><!--col-->
			</div><!--row-->
		</div>
	</section>

	<section class="spring-release" id="spring-release-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 center-text">
					<h6 class="centered-text-banner">New</h6>
					<h2>Sparkcentral Spring 2015 Release</h2>
				</div>
				<div class="col-md-5 col-sm-12">
					<h2>Greater Flexibility and Automation for Better Workflows</h2>
					<p class="sm-margin-bottom">
						As customer support organizations grow increasingly reliant on social interactions, Sparkcentral Spring ‘15 is a keystone for generating fast, accurate and thorough replies to each individual, on every channel.
					</p>

					<a href="{% static 'static/assets/Sparkcentral_Spring_15_Release.pdf' %}" target="parent" class="btn btn-md btn-secondary">View Press Release</a>			
				</div><!--col-->

				<div class="col-md-5 col-md-offset-1">
					<h3>Topics and automated team routing</h3>
					<p>Automatically route the entire customer conversation to the right team members at the right time based on the topic of the moment. </p>

					<h3>Advanced team roles</h3>
					<p>Managers can set and modify agent’s roles on the fly for the reallocation of the team based on workforce needs, volume, and security.</p>

					<h3>Social Workforce Management</h3>
					<p>Integrate social channel support into your contact center and workflow and empower teams to provide high levels of coordinated service and a premium brand experience.</p>

				</div><!--col-->
			</div><!--row-->
			</div>
		</section>

	<section class="testimonial">
		<div class="container-fluid">
			<div id="delta-video-section" class="row">

				<div class="col-sm-5 col-sm-offset-1 col-xs-12 testimonial-info">
					<img class="testimonial-logo delta" src="{% static 'static/img/delta-testimonial.svg' %}" alt="Delta">
					<p class="lead">“Customer experience doesn’t begin and end with a flight. It’s an ongoing relationship built on a lifetime of trust, loyalty and service.”											
					</p>
					<cite>Jerry Fletcher, Social Media Manager</cite>
					<p><a class="btn btn-primary wistia-popover[height=405,playerColor=7b796a,width=720]" href="http://fast.wistia.net/embed/iframe/hvf9m6n027?popover=true" role="button">Watch Case Study</a>
						<script charset="ISO-8859-1" src="http://fast.wistia.com/assets/external/popover-v1.js"></script>
					</p>
				</div><!--col-->

				<div class="col-sm-6 col-xs-12 testimonial-image">
					<a class="wistia-popover[height=405,playerColor=7b796a,width=720]" href="http://fast.wistia.net/embed/iframe/hvf9m6n027?popover=true" role="button"><img class="testimonial-img" src="{% static 'static/img/delta-play.jpg' %}" alt="Jerry Fletcher, Delta Airlines"></a>
				</div><!--col-->

			</div><!--row-->
		</div><!--content-->
	</section>


	<section class="news" id="news-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-12 latest-news">
					<h2>Latest News</h2>
					<h5>3/24/15</h5>
					<h3><a href="{% static 'static/assets/Sparkcentral_Spring_15_Release.pdf' %}" target="parent">Sparkcentral Unveils Spring ‘15 Edition</a></h3>
					<p class="sm-margin-bottom">
						Sparkcentral today announced the Spring ‘15 edition of its real-time customer engagement platform, featuring stronger automation, flexible workflow and integrated workforce management for social in the enterprise contact center.
					</p>

					<a href="{% static 'static/assets/Sparkcentral_Spring_15_Release.pdf' %}" target="parent" class="btn btn-md btn-secondary">Read More</a>			</div><!--col-->

					<div class="col-md-5 col-md-offset-1 past-news">
						<h2>Past News</h2>

						<h5>1/20/15</h5>
						<p>Sparkcentral Raises $12M Series B Funding Led by Split Rock Partners</p>
						<a href="{% static 'static/assets/Sparkcentral_Series_B_Funding.pdf' %}" target="parent">Read More</a>

						<h5>12/10/14</h5>
						<p>Sparkcentral Opens European Headquarters in Belgium</p>
						<a href="http://www.businesswire.com/news/home/20141210006461/en/Sparkcentral-Opens-European-Headquarters-Belgium#.VJENZnQ7P8l" target="_blank">Read More</a>

						<h5>11/5/14</h5>
						<p>Sparkcentral Announces Autumn ‘14 Edition for Enterprises, Radically Reduces Social Media Response Times</p>
						<a href="http://www.businesswire.com/news/home/20141104005096/en/Sparkcentral-Announces-Autumn-%E2%80%9814-Edition-Enterprises-Radically#.VFvUG4c7P8l" target="_blank">Read More</a>

						<!-- <h5>10/21/14</h5>
						<p>Sparkcentral Customer Experience Summit Attracts Top Brands, Prepares Industry Leaders for the Future of Customer Experience</p>
						<a href="http://www.businesswire.com/news/home/20141021005205/en/Sparkcentral-Customer-Experience-Summit-Attracts-Top-Brands#.VEaK_Ic7PgJ" target="_blank">Read More</a> -->

					</div><!--col-->
				</div><!--row-->
			</div>
		</section>


		<section class="demo">
			<div class="container">
				<h2 class="text-center">See how Sparkcentral can help you impress your customers!</h2>
				<a href="{% static 'demo.html' %}" class="btn btn-lg btn-default">Request Demo</a>
			</div>
		</section>

		{% endblock %}
