	{% extends "base.html" %}

	{% block header %}
	<title>Sparkcentral</title>
	{% endblock %}

	{% block content %}

	<div class="jumbotron home">
		<h1>Exceed customer service expectations</h1>
		<p>Introducing the Sparkcentral Customer Engagement Platform. Deliver amazing customer experiences at scale across any messaging channel.</p>

		<a href="demo.html" class="btn btn-lg btn-primary">Try Free Demo</a>
		<a href="product.html" class="btn btn-lg btn-default">Learn More</a>
	</div><!--jumbotron-->


	<section class="clients">
		<div class="container">
			<div class="row">
				<ul>
					<li class="col-md-2"><img src="../static/img/home-clients/Delta.svg" /></li>
					<li class="col-md-2"><img src="../static/img/home-clients/uber.svg" /></li>
					<li class="col-md-2"><img src="../static/img/home-clients/Dropbox.svg" /></li>
					<li class="col-md-2"><img src="../static/img/home-clients/Netflix.svg" /></li>
					<li class="col-md-2"><img src="../static/img/home-clients/Sears.svg" /></li>
					<li class="col-md-2"><img src="../static/img/home-clients/NYU.svg" /></li>
				</ul>
			</div><!--row-->
		</div>
	</section>

	<section class="news-notification">
		<p>We just raised a series B! <a href="#news-section">Learn More.</a></p>
	</section>



	<section class="value-props">
		<div class="container">
			<div class="row">
				<h2 class="text-center">Let’s reimagine the customer experience</h2>
			</div>

			<div class="row">
				<div class="col-md-4">
					<img src="../static/img/engage-icon.svg"/>
					<h3>Engage at every customer touchpoint</h3>
					<p>It shouldn't be a struggle to engage with your customers. Keep up with trends and engage with your customers on any channel.

					</p>
				</div>

				<div class="col-md-4">
					<img src="../static/img/fastest-icon.svg"/>
					<h3>Respond and resolve issues faster</h3>
					<p>Our engagement dashboard enables agents to collaborate and resolve issues quickly. Advanced automation technology routes conversations to the right agents.</p>
				</div>

				<div class="col-md-4">
					<img src="../static/img/delight-icon.svg"/>
					<h3>Delight and increase lifetime value</h3>
					<p>By capturing the full customer relationship, Sparkcentral enables you to delight your customers by resolving issues before they escalate.

					</p>
				</div><!--col-->
			</div><!--row-->
		</div>
	</section>


	<section class="testimonial">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-1 col-xs-12">
					<p class="lead">“Customer experience doesn’t begin and end with a flight. It’s an ongoing relationship built on a lifetime of trust, loyalty and service.”
					</p>
					<p><a class="btn btn-primary" href="#" role="button">Watch Case Study</a></p>
				</div><!--col-->

				<div class="col-sm-6 col-xs-12 testimonial-image">
					<img id="jerry" src="../static/img/jerry.jpg"/>
				</div><!--col-->
			</div><!--row-->
		</div><!--content-->
	</section>


	<section class="news" id="news-section">
		<div class="container">
			<div class="row">
				<h2 class="text-center">News</h2>
				<div class="col-md-5">
					<h5>1-24-15</h5>
					<h3><a href="#">Sparkcentral Secures $12M Series B Funding to Grow Customer Experience Platform</a></h3>
					<p>
						“Our vision is to shape the future of the customer experience, and this funding is a strong vote of confidence by enterprise investors whose values strongly align with our own,”
					</p>

					<cite>Sparkcentral Co-founder and CEO Davy Kestens</cite>
					<a href="#" class="btn btn-md btn-secondary">Read More</a>			</div><!--col-->

					<div class="col-md-5 col-md-offset-1">
						<h5>1-24-15</h5>
						<p>Sparkcentral Opens European Headquarters in Belgium. 				
						</p>
						<a href="*">Read More»</a>

						<h5>1-24-15</h5>
						<p>Sparkcentral Announces Autumn ‘14 Edition for Enterprises, Radically Reduces Social Media Response Times. </p>
						<a href="*">Read More»</a>
						<h5>1-24-15</h5>
						<p>Sparkcentral Customer Experience Summit Attracts Top Brands, Prepares Industry Leaders for the Future of Customer Experience. </p>
						<a href="*">Read More»</a>

					</div><!--col-->
				</div><!--row-->
			</div>
		</section>


		<section class="demo">
			<div class="container">
				<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
				<a href="#" class="btn btn-lg btn-default">Try free demo</a>
			</div>
		</section>


		{% endblock %}
