{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Why Us</title>
{% endblock %}

{% block body %}
<body class="clients-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<h1>Mailbox: Capturing the Power of Twitter</h1>
			</div><!--col-->
		</div><!--container-->
	</header>


	<div class="container case-study-inner">
		<div class="row case-study">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				
				<p>
					We got a chance to sit down with Liz and Heath from the community 
					support team at <a target="_blank" href="http://mailboxapp.com">Mailbox</a>, the mobile-first 
					email experience, to discuss how they keep their customer support inbox at zero. 
				</p>

				<p>
					Back in 2011, the team started with an observation — that people use email as a terrible 
					to-do list. That evolved into Orchestra To-do, a social task management app that 
					let users turn emails into tasks. But after watching people use it, the team realized 
					that rather than asking users to move tasks somewhere else, they needed to transform the 
					inbox where those tasks already live. That’s where Mailbox comes in. 
				</p>

				<p>
					In case you missed it, Mailbox had a 
					<a target="_blank" href="http://allthingsd.com/20130207/qa-with-mailbox-ceo-gentry-underwood-on-the-launch-of-his-much-hyped-app/">
						highly anticipated launch</a> – 
						well over a million people jumped in line for access, and the app quickly won the 
						favor of many people who were looking for the best way to manage their emails and 
						get to inbox zero. Within two months of the launch, Mailbox was delivering over 
						100 million emails per day.
					</p>

					<p>
						With a productivity tool that many people depend on every day, it comes as 
						no surprise that Mailbox strives for open and transparent communication with their users. 
					</p>

					<em><h3>So let’s start with the basic questions: why did you guys choose social for customer service? </h3></em>
					<p>
						<strong>Heath:</strong> We believe in transparency. Our app and everything about it 
						is built on social, so we want to have an effective presence on social media 
					</p>

					<em><h3>What kind of challenges did you guys have internally? What made you guys start looking for solutions? </h3></em>

					<p>
						<strong>Heath:</strong>
						It was tough for us to keep track of who we had responded to using just the native 
						Twitter OS desktop app. If multiple people from our support/marketing team were using it, 
						we couldn’t quickly discern who had touched which tweets, and that led us to a trial with you guys.
					</p>

					<em><h3>What other tools did you try in the past and how did it work out for your team?</h3></em>
					<p>
						<strong>Heath:</strong> We did a few other trials with other apps, such as SproutSocial, 
						but for one reason or another those just weren’t easy to use or they were downright 
						confusing. The interface in one had too much going on. There were too many clicks — 3 
						clicks instead of 1 — and they didn’t have the shortcuts we wanted. At the end of 
						the day, we just want a simple form to effectively track what people are saying 
						on Twitter and get back to them. We landed with you guys and have stayed ever since. 
					</p>

					<em><h3>How does Sparkcentral fit into the needs of Mailbox? </h3></em>
					<p>
						<strong>Heath:</strong> Sparkcentral is a critical element to the way we’re able to respond 
						and do our work. Due to the small size of our team, we chose Twitter as our 
						front line of communication. What that means for us is that it’s a 
						front line of support, it’s a front line of defense, and it’s a front line of 
						communicating with users and prospective users.
					</p>

					<p>
						We’re obviously a zero inbox kind of group, and that approach on Sparkcentral 
						is consistent with the way we operate on email. It’s certainly helped us with 
						our social presence as much as our support presence because again, we’re using 
						Twitter and social as a front line support outlet, and that’s where you guys have 
						been a big help for us.
					</p>

					<em><h3>Did you guys have any challenges when you first started using our platform? </h3></em>
					<p><strong>Liz:</strong>It was really easy to figure out – once I got 
						the muscle memory down, I was just flying.
					</p>

					<em><h3>How has Sparkcentral streamlined or improved Mailbox’s daily operations?</h3></em>
					<p>
						<strong>Liz:</strong> For us it’s about time-savings for our small team and how many 
						issues we’re able to divert from email. If you can solve something in a couple quick 
						interactions over Twitter, you save our support team hours responding to email requests. 
						That’s really the power of Twitter for us — heading things off with a few really 
						quick touch-points rather than an email dialogue — all in an open platform.
					</p>

					<p>
						<strong>Heath:</strong>So long as you’re OK embracing transparency – which as a company we 
						really have done from the very beginning – it can pretty damn valuable.
					</p>

					<em><h3>
						Speaking of transparency, let’s talk about your recent iOS 7 launch. 
						Unfortunately, the great, new redesign seemed to be overshadowed by 
						some issues with the update. Can you walk us through how Sparkcentral 
						helped your team tackle this issue?
					</h3></em>

					<p>
						<strong>Heath:</strong> Our broader team has addressed this in full force, 
						including our small support team tackling our email channels and Twitter. 
						Whereas in the past we found it to be more beneficial to go newest-to-oldest 
						on Sparkcentral, in this instance we began by addressing the highest reach 
						mentions first. With high-reach people… we can, for example, tweet someone 
						with 50,000 followers… and it’ll likely be seen by a lot of people. That 
						leads to them saying, ‘I’m having the same trouble too. I’m so glad you’re 
						addressing this!’... instead of them writing us more support emails, which 
						can be difficult to keep up with at best and prolong their issue and/or concern.
					</p>

					<em><h3>What are some of your other features that Mailbox finds beneficial?</h3></em>

					<p>
						<strong>Liz:</strong> There are some fail safes with Sparkcentral that have helped 
						us quickly respond to all of our customers, especially this past weekend. 
						There were a couples times where I would accidentally mistype a public tweet 
						instead of a reply. As I hit send, there would be a little pop-up that asks, 
						“Are you sure you want to do that?” and I would think, “You’re right: I don’t!” 
					</p>

					<em><h3>Can you talk about a couple instances where you changed your service and/or 
						software due to user-generated feature requests on Twitter?</h3></em>

						<p>
							<strong>Heath:</strong>We find the keyword searches are very valuable 
							for us on Twitter. One example is when we wanted to add alias support. 
							This was a top 5 feature request from our users, but the gut read for us
							was that alias support was higher than the #4 issue. Many people 
							were saying things like, “The lack of alias support on Mailbox is a 
							prohibitive feature… I cannot use your app without this!”

						</p>

						<p>
							So we gave them alias support and saw a huge spike in requests, more 
							than two and half times, for multiple signatures on Mailbox. It made 
							sense, but we hadn’t thought about that! We re-prioritized our 
							engineering bandwidth, built it, shipped it, and people loved it.
						</p>

					</div><!--columns-->
				</div><!--row-->
			</div><!--container-->

			<section class="container-fluid demo">
				<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
				<a href="{% static 'demo.html' %}" class="btn btn-lg btn-default">Try free demo</a>
			</section><!--container-->

			{% endblock %}