{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Resources</title>
{% endblock %}

{% block body %}
<body>
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<h1>Resources</h1>
				<ul class="resources-links">
					<li><a href="#whitepapers">Whitepapers</a></li>
					<li><a href="#webinars">Webinars</a></li>
					<li><a href="#datasheets">Datasheets</a></li>
				</ul>
			</div><!--col-->
		</div><!--container-->
	</header>

	<div class="container">
		
		<div class="row">

			<h2 class="center-text" id="whitepapers">Whitepapers</h2>

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rkf' %}">
						<img src="{% static 'static/img/resource-narcissistic.png' %}" alt="Why Narcissistic Customers Are Your Best Advocates">
					</a>

					<span>
						<h3>Why Narcissistic Customers Are Your Best Advocates</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rkf' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--large 6 small 12-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rdy' %}">
						<img src="{% static 'static/img/whitepapers/5steps.jpg' %}" alt="5 Steps to Superior Social Customer Service">
					</a>
					<span>
						<h3>5 Steps to Superior Social Customer Service</h3>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rdy' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--col-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rjw' %}">
						<img src="{% static 'static/img/resource-retail-therapy.png' %}" alt="Retail Therapy: 5 Tips on How to “Get Better” at Social and Mobile Customer Service">
					</a>

					<span>
						<h3>Retail Therapy: 5 Tips on How to “Get Better” at Social and Mobile Customer Service</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rjw' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--large 6 small 12-->

		</div><!--row-->
				
		<div class="row">

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rjr' %}">
						<img src="{% static 'static/img/resource-whitepaper.png' %}" alt="How to Increase Profit with Social Media Customer Service: A guide for Marketers">
					</a>

					<span>
						<h3>How to Increase Profit with Social Media Customer Service: A guide for Marketers</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rjr' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--large 6 small 12-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rfw' %}">
						<img src="../static/img/whitepapers/7-steps-to-kickstart.jpg" alt="7 Steps to Kickstart A Social Customer Service Strategy: Start Your Engines">	
					</a>

					<span>
						<h3>7 Steps to Kickstart A Social Customer Service Strategy: Start Your Engines
						</h3>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rfw' %}">View Whitepaper</a>	
					</span>
				</div><!--whitepaper-->
			</div><!--col-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rkc' %}">
						<img src="{% static 'static/img/whitepapers/worlds-collide.jpg' %}" alt="Transforming Contact Center World">
					</a>
					<span>
						<h3>Worlds Collide: The Catastrophic Collision Between Marketing and Customer Service</h3>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rkc' %}">View Whitepaper</a>						
					</span>
				</div><!--whitepaper-->
			</div><!--col-->			

		</div><!--row-->

		<div class="row">

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rjy' %}">
						<img src="{% static 'static/img/whitepapers/social-media-shopping-showdown.jpg' %}" alt="Social Media Shopping Showdown
						Online Retailers Compared">
					</a>

					<span>
						<h3>Social Media Shopping Showdown: Online Retailers Compared</h3>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rjy' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--col-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rg9' %}">
						<img src="{% static 'static/img/whitepapers/changing-contact-center-world.jpg' %}" alt="Transforming Contact Center World">
					</a>

					<span>
						<h3>How Social is Changing the Contact Center World</h3>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rg9' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--col-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rff' %}">
						<img src="{% static 'static/img/resource-whitepaper.png' %}" alt="5 Ways To Deliver Unforgettable Customer Experiences on Social Media">
					</a>

					<span>
						<h3>5 Ways To Deliver Unforgettable Customer Experiences on Social Media</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rff' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--large 6 small 12-->

		</div><!--row-->

		<div class="row">

			<h2 class="center-text" id="webinars">Webinars</h2>

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-25/bnw3' %}">
						<img src="{% static 'static/img/resource-webinar.png' %}" alt="How Modern Companies Are Revolutionizing Traditional Customer Service: Lyft &amp; Gogo">
					</a>

					<span>
						<h3>How Modern Companies Are Revolutionizing Traditional Customer Service: Lyft &amp; Gogo</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-25/bnw3' %}">View Webinar</a>
					</span>
				</div>
			</div>
			
			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-25/bpz9' %}">
						<img src="{% static 'static/img/resource-webinar.png' %}" alt="How to Promote Customer Engagement and Get It Right">
					</a>

					<span>
						<h3>How to Promote Customer Engagement and Get It Right</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-25/bpz9' %}">View Webinar</a>
					</span>
				</div>
			</div>

			<!--
			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static '' %}">
						<img src="{% static 'static/img/resource-placeholder.jpg' %}" alt="Leveraging Social Customer">
					</a>

					<span>
						<h3>Leveraging Social Customer</h3></a>
						<a href="{% static '' %}">View Webinar</a>
					</span>
				</div>
			</div>-->

			</div><!--row-->

		<div class="row">

			<h2 class="center-text" id="datasheets">Data Sheets</h2>

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9pq7' %}">
						<img src="{% static 'static/img/resource-telcom.png' %}" alt="Telecommunications Industry">
					</a>

					<span>
						<h3>Telecommunications Industry</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9pq7' %}">View Data Sheet</a>
					</span>
				</div><!--whitepaper-->
			</div><!--large 6 small 12-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rdm' %}">
						<img src="{% static 'static/img/resource-datasheet.png' %}" alt="Exceed Customer Service Expectations">
					</a>

					<span>
						<h3>Exceed Customer Service Expectations</h3></a>
						<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9rdm' %}">View Data Sheet</a>
					</span>
				</div><!--whitepaper-->
			</div><!--large 6 small 12-->


		</div><!--row-->


				<!--<div class="row">

					<div class="col-sm-6 col-md-4 whitepaper">
						<div class="whitepapers">
							<a href="{% static '' %}">
								<img src="{% static 'static/img/resource-placeholder.jpg' %}" alt="Personalization in Customer Interactions">
							</a>

							<span>
								<h3>Personalization in Customer Interactions</h3></a>
								<a href="{% static '' %}">View Webinar</a>
							</span>
						</div>
					</div>-->
					
		</div><!--container-->
			
		</div><!--content-->

	<section class="container-fluid demo">
		<h2 class="text-center">See how Sparkcentral can help you impress your customers!</h2>
		<a href="{% static 'demo.html' %}" class="btn btn-lg btn-default">Request Demo</a>
	</section><!--container-->

	{% endblock %}