{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Solutions</title>
{% endblock %}

{% block body %}
<body class="solutions">
{% endblock %}

{% block content %}
<header class="product">
	<div class="container">
		<h1>Powering amazing customer experiences</h1>
		<div class="col-sm-10 col-sm-offset-1">
			<p>
				for brands in travel, telecommunications, retail, financial services and more…
			</p>
		</div><!--col-->
	</div><!--container-->
</header>

<section class="forrester">
		<div class="container">
			<div class="row border">
				<div class="col-md-10 col-md-offset-1">
					<img src="{% static 'static/img/forrester-logo.jpg' %}" alt="forrester logo" width="150px"/>
					<h3>Customer Service is the Cornerstone of a Great Customer Experience</h3>
					<p>
						“Customer service organizations must also support omnichannel customer journeys — journeys that start on one communication channel and move to another with a seamless handoff between channels so that customers do not have to restart the conversation — something that only 3% of organizations are extremely effective at doing.”
					</p>
					<cite>The Forrester Wave: Customer Service Solutions for Enterprise Organizations, Q2 2014 Kate Leggett</cite>

				</div><!--col-->
			</div><!--row-->
		</div><!--content-->
	</section>

<div class="container tour">
	<div id="telecommunications" class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<h6 class="left-text-banner">Telecommunications</h6>
			<h2>Taking customer engagement to the next level</h2>
			<p class="sm-margin-bottom">Get personal with your customers at every touchpoint. Conversation history, topic/categories, audit trails and collaborative notes are compiled into a single profile for unique experiences.</p>
			<a href="{% static 'http://go.pardot.com/l/65862/2015-03-18/9pq7' %}" class="btn btn-md btn-secondary">Learn more</a>
		</div><!--col-->

		<div class="col-sm-5 img">
			<img src="../static/img/solutions-graphic-1.svg"/>
		</div>

	</div><!--row-->


	<div id="retail" class="row">

		<div class="col-sm-5 col-sm-offset-1 img">
			<img src="../static/img/solutions-graphic-2.svg"/>
		</div>

		<div class="col-sm-5">
			<h6 class="left-text-banner">Retail</h6>
			<h2>Real-time Customer Segmentation</h2>
			<p class="sm-margin-bottom">Whether your customers contact you on mobile, social or any other device, your customers can experience the same great customer service they would receive if they walked into one of your stores. </p>
			<a href="{% static 'http://go.pardot.com/l/65862/2015-03-23/b9lh' %}" class="btn btn-md btn-secondary">Learn more</a>
		</div>

	</div><!--row-->


	<div id="retail-banking" class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<h6 class="left-text-banner">Retail Banking</h6>
			<h2>Precog &ndash; Proactive Customer Engagement</h2>
			<p class="sm-margin-bottom">Enable your brand to show customers how much you value them by anticipating their needs, solving their problems and giving them a highly-personalized customer experience.</p>
			<!--Personalization of CS webinar-->
			<a href="{% static 'http://go.pardot.com/l/65862/2015-04-07/dbr1' %}" class="btn btn-md btn-secondary">Learn more</a>
		</div><!--col-->

		<div class="col-sm-5 img">
			<img src="../static/img/solutions-graphic-3.svg"/>
		</div>

	</div><!--row-->


	<div id="travel" class="row">
		<div class="col-sm-5 col-sm-offset-1 img">
			<img src="../static/img/solutions-graphic-4.svg"/>
		</div>

		<div class="col-sm-5">
			<h6 class="left-text-banner">Travel</h6>
			<h2>Canvas &ndash; Sparkcentral API</h2>
			<p class="sm-margin-bottom">With Sparkcentral Canvas, brands are able to engage multiple, globally distributed systems to deliver more personal and smarter customer engagement. With the advent of the new software updates to the platform, especially the open APIs, you can easily and cleanly integrate any software you use to support your customers.</p>
			<a href="{% static 'contact-us.html' %}" class="btn btn-md btn-secondary">Learn more</a>
		</div>

	</div><!--row-->

</div><!--container-->
<section class="demo">	
	<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
	<a href="{% static 'demo.html' %}" class="btn btn-lg btn-default">Request Demo</a>
</section>

{% endblock %}