{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Solutions</title>
{% endblock %}

{% block body %}
<body class="solutions">
{% endblock %}

{% block content %}
<header class="product">
	<div class="container">
		<h1>Powering amazing customer experiences</h1>
		<div class="col-sm-10 col-sm-offset-1">
			<p>
				for brands in travel, telecommunications, retail, financial services and more…
			</p>
		</div><!--col-->
	</div><!--container-->
</header>

<div class="container tour">
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<h2>Taking customer engagement to the next level</h2>
			<p>Get personal with your customers at every touchpoint. Conversation history, topic/categories, audit trails and collaborative notes are compiled into a single profile for unique experiences.</p>
		</div><!--col-->

		<div class="col-sm-5 img">
			<img src="../static/img/test-solutions-1.png"/>
		</div>
	</div><!--row-->


	<div class="row">

		<div class="col-sm-5 col-sm-offset-1 img">
			<img src="../static/img/test-solutions-2.png"/>
		</div>

		<div class="col-sm-5">
			<h2>Real-time Customer Segmentation</h2>
			<p>Whether your customers contact you on mobile, social or any other device, your customers can experience the same great customer service they would receive if they walked into one of your stores. </p>
		</div>
	</div><!--row-->


	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<h2>Precog &ndash; Proactive Customer Engagement</h2>
			<p>Enable your brand to show customers how much you value them by anticipating their needs, solving their problems and giving them a highly-personalized customer experience.</p>
		</div><!--col-->

		<div class="col-sm-5 img">
			<img src="../static/img/test-solutions-3.png"/>
		</div>
	</div><!--row-->



	<div class="row">

		<div class="col-sm-5 col-sm-offset-1 img">
			<img src="../static/img/test-solutions-4.png"/>
		</div>

		<div class="col-sm-5">
			<h2>Canvas &ndash; Sparkcentral API for Travel</h2>
			<p>With Sparkcentral Canvas, brands are able to engage multiple, globally distributed systems to deliver more personal and smarter customer engagement. With the advent of the new software updates to the platform, especially the open APIs, you can easily and cleanly integrate any software you use to support your customers.</p>
		</div>
	</div><!--row-->

</div><!--container-->
<section class="demo">	
	<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
	<a href="{% static 'demo.html' %}" class="btn btn-lg btn-default">Try free demo</a>
</section>

{% endblock %}