{% extends "base.html" %}

{% block header %}
<title>Success | Sparkcentral</title>
{% endblock %}

{% block body %}
<body class="success-page">
	{% endblock %}


	{% block content %}


	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>Congrats!</h2>
				<p class="lead">You're one step closer to being more awesome. But why stop there? Keep <a href="{% static 'index.html' %}">looking around</a> the site. 
				<img src="../static/img/success.svg" alt="Success">

			</div><!--col-->
		</div><!--row-->
	</div><!--conatiner-->

	{% endblock %}