{% extends "secondary-base.html" %}

{% block header %}
<title>Sparkcentral | Contact Us</title>
{% endblock %}

{% block body %}
<body class="demo-page">
	{% endblock %}


	{% block content %}

	<section class="intro-section">
		<h1>Telecommunications Industry</h1>
	</section>


	<div class="container">
		<div class="row">
			<div class="col-md-6 left-column">
				<h2 style="text-align: left;">Telecommunications Industry</h2>
				<p style="text-align: left;">How Communication Service Providers can open the lines of communication and interact with customers on their terms

				Learn how to surmount the daunting challenges Communication Service Providers (CSPs) face in today's hyper-competitive marketplace 
				Discover how companies like T-Mobile are meeting customer demands head-on with Sparkcentral’s Customer Engagement Platform
				Understand how Sparkcentral enables CSPs to respond in real-time, one-on-one conversations with their customers on social media
				"T-mobile uses the Sparkcentral Customer Engagement Platform to enable its customer service team to quickly respond, manage and engage with their customers on a one-to-one, human-to-human basis through social channels."</p>
			</div>

			<div class="col-md-6 demo-form right-column">

			<iframe src="http://go.pardot.com/l/65862/2015-03-18/9pd1" width="100%" height="500" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>

			</div><!--col-->

		</div><!--row-->

	</div><!--container-->



	{% endblock %}