{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Why Us</title>
{% endblock %}

{% block body %}
<body class="clients-page">
	{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<h1>Whitepapers</h1>
			</div><!--col-->
		</div><!--container-->
	</header>

	<div class="container">
		<div class="row">

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'whitepapers/social-media-for-call-centers.html' %}">
						<img src="{% static 'static/img/whitepapers/social-media-call-centers.jpg' %}" alt="Social Media For Call Centers">
					</a>

					<span>
						<h3>Social Media for Call Centers: Don't Be the Last on Board</h3></a>
						<a href="{% static 'whitepapers/social-media-for-call-centers.html' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--large 6 small 12-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'whitepapers/marketing-guide-to-increase-profits.html' %}">
						<img src="{% static 'static/img/whitepapers/how-to-increase-profit.jpg' %}" alt="Increase Profits with social media customer service">
					</a>
					
					<span>
						<h3>A Marketing Guide to Increase Profit with Social Media Customer Service</h3></a>
						<a href="{% static 'whitepapers/marketing-guide-to-increase-profits.html' %}">View Whitepaper</a>
					</span>
				</div><!--whitepaper-->
			</div><!--col-->

			<div class="col-sm-6 col-md-4 whitepaper">
				<div class="whitepapers">
					<a href="{% static 'whitepapers/social-marketing-fails-customer-service.html' %}">
						<img src="{% static 'static/img/whitepapers/social-marketing-fails.jpg' %}" alt="Achilles Heel"></a>
						<span>
							<h3>Why Social Marketing Fails at Customer Service: The Achilles Heel</h3></a>
							<a href="{% static 'whitepapers/social-marketing-fails-customer-service.html' %}">View Whitepaper</a>
						</span>
					</div><!--whitepaper-->
				</div><!--col-->
			</div><!--row-->


			<div class="row">
				<div class="col-sm-6 col-md-4 whitepaper">
					<div class="whitepapers">
						<a href="{% static 'whitepapers/social-changing-contact-center-world.html' %}">
							<img src="{% static 'static/img/whitepapers/changing-contact-center-world.jpg' %}" alt="Transforming Contact Center World">
						</a>

						<span>
							<h3>How Social is Changing the Contact Center World</h3>
							<a href="{% static 'whitepapers/social-changing-contact-center-world.html' %}">View Whitepaper</a>
						</span>
					</div><!--whitepaper-->
				</div><!--col-->


				<div class="col-sm-6 col-md-4 whitepaper">
					<div class="whitepapers">
						<a href="{% static 'whitepapers/social-media-shopping-showdown.html' %}">
							<img src="{% static 'static/img/whitepapers/social-media-shopping-showdown.jpg' %}" alt="Social Media Shopping Showdown
							Online Retailers Compared">
						</a>

							<span>
								<h3>Social Media Shopping Showdown: Online Retailers Compared</h3>
								<a href="{% static 'whitepapers/social-media-shopping-showdown.html' %}">View Whitepaper</a>
							</span>
						</div><!--whitepaper-->
					</div><!--col-->

					<div class="col-sm-6 col-md-4 whitepaper">
						<div class="whitepapers">
							<a href="{% static 'whitepapers/5-steps-to-superior-social-customer-service.html' %}">
								<img src="{% static 'static/img/whitepapers/5steps.jpg' %}" alt="5 Steps to Superior Social Customer Service">
							</a>
							<span>
								<h3>5 Steps to Superior Social Customer Service</h3>
								<a href="{% static 'whitepapers/5-steps-to-superior-social-customer-service.html' %}">View Whitepaper</a>
							</span>
						</div><!--whitepaper-->
					</div><!--col-->
				</div><!--row-->


				<div class="row">
					<div class="col-sm-6 col-md-4 whitepaper">
						<div class="whitepapers">
							<a href="{% static 'whitepapers/worlds-collide-catastrophic-collision-marketing-customer-service.html' %}">
								<img src="{% static 'static/img/whitepapers/worlds-collide.jpg' %}" alt="Transforming Contact Center World">
							</a>
							<span>
								<h3>Worlds Collide: The Catastrophic Collision Between Marketing and Customer Service</h3>
								<a href="{% static 'whitepapers/worlds-collide-catastrophic-collision-marketing-customer-service.html' %}">View Whitepaper</a>						
							</span>
						</div><!--whitepaper-->
					</div><!--col-->


					<div class="col-sm-6 col-md-4 whitepaper">
						<div class="whitepapers">
							<a href="{% static 'whitepapers/7-steps-kickstart-social-customer-service-strategy.html' %}">
								<img src="{% static 'static/img/whitepapers/7-steps-to-kickstart.jpg' %}" alt="7 Steps to Kickstart A Social Customer Service Strategy: Start Your Engines
								">	
							</a>

							<span>
								<h3>7 Steps to Kickstart A Social Customer Service Strategy: Start Your Engines
								</h3>
								<a href="{% static 'whitepapers/7-steps-kickstart-social-customer-service-strategy.html' %}">View Whitepaper</a>	
							</span>
						</div><!--whitepaper-->
					</div><!--col-->


					<div class="col-sm-6 col-md-4 whitepaper">
						<div class="whitepapers">

							<a href="{% static 'whitepapers/5-tips-get-better-social-mobile-customer-service.html' %}">
								<img src="{% static 'static/img/whitepapers/get-better-at-social-and-mobile-customer-service.jpg' %}" alt="7 Steps to Kickstart A Social Customer Service Strategy: Start Your Engines
								">	</a>
								
								<span>
									<h3>5 Tips on How to “Get Better” at Social and Mobile Customer Service 
									</h3>
									<a href="{% static 'whitepapers/5-tips-get-better-social-mobile-customer-service.html' %}">View Whitepaper</a>	
								</span>
							</div><!--whitepaper-->
						</div><!--col-->
					</div><!--row-->
					
				</div><!--container-->

				<section class="container-fluid demo">
					<h2 class="text-center">See how Sparkcentral can help you impress your customers!</h2>
					<a href="{% static 'demo.html' %}" class="btn btn-lg btn-default">Try Free Demo</a>
				</section><!--container-->

				{% endblock %}