{% extends "base.html" %}

{% block header %}
<title>Sparkcentral | Why Us</title>
{% endblock %}

{% block body %}
<body class="why-us">
{% endblock %}

	{% block content %}

	<header>
		<div class="container">
			<h1>{need header}</h1>
		</container>
	</header>

	<div class="container solutions">
		<div class="row success-team">


			<div class="col-sm-6">
				<h2>Our success depends on yours!</h2>
				<p>Meet the Sparkcentral Customer Success team. Committed to helping you deliver awesome customer experiences. We invest whatever it takes to ensure that your team will get the most out of Sparkcentral. With expertise ranging from implementation to ongoing training, we’re here to enhance your experience for long-term success. As a Sparkcentral customer, you get:</p>

				<ul class="styled">
					<li>Reliable concierge-like customer service</li>
					<li>Virtual and on-site set-up, onboarding and training</li>
					<li>Agent and manager certification programs</li>
					<li>Hands-on consulting services</li>
					<li>24/7/365 access to our Knowledge Center</li>
					<li>Access to expert Customer Success Managers</li>
				</ul>
			</div>

			<div class="col-sm-6 img">
								<img src="../static/img/success-team.jpg"/>
			</div>

		</div><!--row-->
	</div><!--container-->

	<div class="container">
		<div class="row advisory-board">
			<div class="col-sm-10 col-sm-offset-1">
				<h5>WE’RE BUILDING WHAT YOU TRULY NEED</h5>
				<h2>Meet Our Customer Advisory Board</h2>

				<p>The Sparkcentral Customer Advisory Board (CAB) is a forum for our most innovative customers, represented by those who are engaged in business-critical decisions, to solicit feedback on leveraging Sparkcentral solutions for a competitive advantage while also guiding and validating Sparkcentral’s business strategy, vision and roadmap.</p>

				<div class="text-center">
					<img src="../static/img/advisory-board.svg" />
				</div>
			</div><!--columns-->
		</div><!--row-->
	</div><!--container-->

	<section class="testimonial">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-1 col-xs-12 testimonial-info">
					<p class="lead">“As part of the Sparkcentral Customer Advisory Board, Emirates will join other industry leaders to shape the customer experience of the future.”
					</p>
					<img class="testimonial-logo" src="../static/img/emirates-wordmark.svg">
					<cite>Karen Bell-Wright, Emirates</cite>
					<p><a class="btn btn-primary" href="#" role="button">Watch Case Study</a></p>
				</div><!--col-->

				<div class="col-sm-6 col-xs-12 testimonial-image">
					<img class="testimonial-img" src="../static/img/karen.jpg"/>

				</div><!--col-->
			</div><!--row-->
		</div><!--content-->
	</section>

	<section class="container gartner">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<img src="../static/img/gartner-logo.jpg" alt="gartner logo" width="150px"/>
				<p>
					“No rallying principle in the enterprise matters more than the creation of superior customer engagement. IT leaders will need to innovate in engaging customers on all channels and have the metrics to choose the right projects.”
				</p>
				<cite> Gartner, Predicts 2015: Weak Mobile Customer Service is Harming Customer Engagement, November 2014
				</cite>

			</div><!--col-->
		</div><!--row-->
	</section><!--container-->

	<section class="container-fluid demo">
		<h2 class="text-center">See how Sparkcentral can help you impress your customers</h2>
		<a href="demo.html" class="btn btn-lg btn-default">Try free demo</a>
	</section><!--container-->

	{% endblock %}